body {
font-family: var(--prymary-font-famaly);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
:root {
  --lighte-theme-second-text-color: #555555;
  --white-text-color: #ffffff;
  --lighte-text-color: #303030;
  --dark-theme-text-color: #9da4bd;
  --accent-color: #ff6c00;
  --prymary-font-famaly: Open Sens;
}
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}
ul, ol, li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
}
address {
  font-style: normal;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.section{
  padding-top: 130px;
  padding-bottom: 130px;
}

/* START COMPONENTS */
.modal-button {
  min-width: 160px;
  padding: 12px 20px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;

  color: #ffffff;
  border: 1px solid #ff6c00;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: transparent;
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--accent-color);
}

.over-title{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.over-title::before {
  /* display: flex; */
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--lighte-theme-second-text-color);
}
.description {
  font-family: Open Sans;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}
.second-title {
  
  font-family: Raleway;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
.second-title-white{
  color: var(--white-text-color);
}
.second-description{
  margin-bottom: 40px;
}
.title-theme-dark{
  color: var(--dark-theme-text-color);
}
.title-theme-lighte {
  color: var(--lighte-text-color);
}
/* END COMPONENTS */
/* header */
.header-container {
  display: flex;
  align-items: center;
 
}
.header{
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 70px;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-item:not(:last-child) {
  margin-right: 40px;
}

.navigation-link {
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  color: var(--white-text-color);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.hero-container {
  display: flex;
}
.hero-left-side{
width: 100px;

}
.hero-right-side {
background-image: linear-gradient(rgba(25, 28, 38, 0.2),
  rgba(25, 28, 38, 0.2)),
url("../img/hero.jpg");
background-size: cover;
background-repeat: no-repeat;
background-color: var(--lighte-theme-second-text-color);
padding-top: 272px;
padding-bottom: 206px;
padding-left: 100px;
flex-grow:1;
}
.main-title {
  font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 0.05em;
    color: var(--white-text-color);
}
/* INSTAGRAMM, Youtube-------------------- */
.social-list {
  display: flex;

}
.social-list-rotate {
  
  transform: rotate(-90deg);
margin-top: 480px;

}
.social-item:not(:last-child) {
  margin-right: 40px;
}


.social-list-footer {
  display: flex;

}
.social-item:hover {
  color: var(--accent-color);

}
.instagram-link::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--lighte-text-color);

}

.instagram-link::before:hover {
  background-color: var(--accent-color);
}
/* ABOUT SECTION-------------------- */
.flex-about{
  display: flex;
  justify-content: space-between;
}
.about-img{
  display: flex;
  justify-content: space-between;
  width: calc((100% - 30px) /2);
}
.about-content {
  width: calc((100% - 30px) /2);
  padding-left: 34px;
}
.contact-telephon-link{
  margin-left: auto;
  margin-right: 40px;
  color: var(--white-text-color)
}
.contact-telephon-link {
  /* color: var(--second-text-color); */
}
.contact-telephon-link:hover,
.contact-telephon-link:focus {
  color: var(--accent-color);
}
.social-link,
.youtube-link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  color: var(--lighte-text-color);
}
.social-link:hover,
.social-link:focus {
  color: var(--accent-color);
}
.youtube-link:hover,
.youtube-linkfocus {
  color: var(--accent-color);
}
/* SERVICES SECTION-------------------- */
.servises-title {
  color: var(--white-text-color);
  margin-bottom: 32px;
}
.services {
  /* padding-left:35px;
  padding-right:55px; */
background-image: url("../img/price-bg.png");

background-size: cover;
background-repeat: no-repeat;
background-color: #111319;
}
.price-container, .price-list-item {
  display: flex;
  justify-content: space-between;

  
}
.price-list {
  width: 585px;
  padding: 30px 40px;
  margin-bottom: 50px;
}
.price-list:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.price-list:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.price-list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.price-list-text {
  display: flex;
  flex-grow: 1;
  align-items: baseline;
}
.price-list-text::after {
  content: "";
  display: inline-block;
  height: 1px;
  margin: 0 6px;
  background-color: var(--dark-theme-text-color);
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.services-modal-button {
  display: block;
  margin: 0 auto;



}


/* .price-righte-side {
width: 585px;
margin-bottom: 50px;
margin-right: 22px;
padding: 30px 40px;
background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.8) 100%);
background-repeat: no-repeat;
}
.price-left-side {
  width: 585px;
  margin-bottom: 50px;
  padding: 30px 40px; 
  background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.8) 100%);
  background-repeat: no-repeat; 
}
.price-list-item {
  display: flex;
  justify-content: space-between;
}
.services-modal-button {
  margin-left: 555px;
 
 
  
}  */
/* ADVANTAGES SECTION--------------- */

.advantages-container{
  display: flex;
  justify-content: space-between;
}
.advantages-righte-side-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 370px;
  margin: 0 auto;
  

}
.advantages-righte-side-item {
  width: 170px;
  height: 132 px;
  padding: 20px 24px;
  background-color: #F7F7F7;
  color: var(--lighte-text-color);
  text-align: center;
  

}
.advantages-righte-side-item:not(:nth-last-child(-n+2)){
  margin-bottom: 30px;
}
.advantages-righte-side-item:nth-child(even){
  margin-top: 30px;
}

.advantages-number{
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  letter-spacing: 0.05em;
  color: var(--lighte-text-color);
}
.advantages-number::after {
  content: "+";
  color: var(--accent-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-top: 8px;
  margin-left: 2px;
}
.advantages-text {
max-width: 130px;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36364;

}
.advantages-righte-side{
  display: block;
  width: 500px;
}
/* MASTERS SECTION------ */
.masers-section{
  background-color: #F7F7F7;
}
.master-cards{
  display: flex;
  justify-content: center;
}
.master-card-item:not(:last-child){
  margin-right: 30px;

  };
  .masters-title{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  
 

/* GALLERY SECTION-------------- */

.gallery-list{
  display: flex;
  justify-content: space-between;
}
.master-card-item{

}
/* FOOTER------------------- */
.contact-forms{
   background-color: #191C26;
}

.contact-forms-container {
  display: flex;

 
}
.contact-form {

  width: 50%;
margin-right: 40px;
}
.form-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
  
}
.form-list-item {
  outline: none;
  background-color: #191C26;
  width: 270px;
  border: none;
  border-bottom: 1px rgba(157, 164, 189, 0.4) solid;
  margin-bottom: 44px;
cursor: pointer;
}

.form-list-item:hover, 
.form-list-item:focus {
  color: var(--white-text-color);
  border-bottom: 1px rgb(255, 255, 255) solid;
}


.textarea {
  width: 100%;
  resize: none;
  outline: none;
  border-bottom: 1px rgba(157, 164, 189, 0.4) solid;
color: rgba(157, 164, 189, 0.4);
}

 textarea.textarea:hover{
  color: #ffffff;
}
:hover::-webkit-input-placeholder {
  color: var(--white-text-color);

}

.contact-footer{
  background-color: #191C26;
    background-image: url("../img/bg-price.png");
    background-size: cover;
     background-repeat: no-repeat;
background-position: center;
flex-grow: 1;
padding-left: 104px;
}
.contact-footer-item, textarea {
  margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  
    letter-spacing: 0.02em;
    
}
.work-time::before {
    content: "";
      display: inline-block;
      width: 60px;
      height: 1px;
      margin-right: 20px;
      background-color: var(--dark-theme-text-color);
font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  letter-spacing: 0.02em;
}

.work-time {
margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  letter-spacing: 0.02em;
  color: var(--white-text-color);
}
 

.second-footer {
 display: flex;
 justify-content: space-between;
 padding-top: 56px;
 padding-bottom: 56px;
  background-color: #F7F7F7;
}
.social-list-footer {
  display: flex;
 
}
.instagram-link::before {
  content: "";
      display: inline-block;
        width: 60px;
        height: 1px;
        margin-right: 20px;
        background-color: var(--lighte-text-color);
   
}

.instagram-link::before:hover {
  background-color: var(--accent-color);
}